
@{
    ViewBag.Title = "PvvCustomerDetail";
}

<h2>thong tin khach hangl</h2>
<div class="alert alert-danger">
    <p>ma so:@ViewBag.customer.Customer</p>
    <p>ma so:@ViewBag.customer.firstname @ViewBag.customer.lastname</p>
    <p>ma so:@ViewBag.customer.address</p>
    <p>ma so:@ViewBag.customer.YearOfBirth</p>
</div>

